In [7]:
import duckdb
import pandas as pd
import os
from datetime import datetime

In [8]:
con = duckdb.connect(database='dados_duckdb.db', read_only=False)

In [26]:
arquivo = 'z0019_2.csv'
data_ingestao = datetime.now()
df = pd.read_csv(f'../landing/{arquivo}', sep=';')
df['nome_arquivo'] = arquivo
df['data_ingestao'] = data_ingestao
df.head()

   NATBR    MAKTX WERKS  MAINS  LABST nome_arquivo              data_ingestao
0  10004    SERRA  BT50    100    200  z0019_2.csv 2025-11-03 14:46:12.084505
1  10005  MACHADO  BT50    100    100  z0019_2.csv 2025-11-03 14:46:12.084505
2  10003    PREGO  BT10    100     60  z0019_2.csv 2025-11-03 14:46:12.084505

In [21]:
con.execute("""
    CREATE TABLE IF NOT EXISTS bronze_produtos (
        NATBR VARCHAR,
        MAKTX VARCHAR,
        WERKS VARCHAR,
        MAINS VARCHAR,
        LABST VARCHAR,
        nome_arquivo VARCHAR,
        data_ingestao TIMESTAMP
        )
""")

In [28]:
con.execute("INSERT INTO bronze_produtos SELECT * FROM df")

In [33]:
resultado = con.execute("SELECT * FROM bronze_z0019").fetchdf()
resultado

   NATBR     MAKTX WERKS MAINS LABST nome_arquivo              data_ingestao
0  10001  PARAFUSO  BT10   100   100  z0019_1.csv 2025-11-03 14:40:08.165141
1  10002   MARTELO  BT50   100  1500  z0019_1.csv 2025-11-03 14:40:08.165141
2  10003     PREGO  BT10   100    50  z0019_1.csv 2025-11-03 14:40:08.165141
3  10004     SERRA  BT50   100   200  z0019_2.csv 2025-11-03 14:46:12.084505
4  10005   MACHADO  BT50   100   100  z0019_2.csv 2025-11-03 14:46:12.084505
5  10003     PREGO  BT10   100    60  z0019_2.csv 2025-11-03 14:46:12.084505

In [30]:
con.execute("ALTER TABLE bronze_produtos RENAME TO bronze_z0019")

In [34]:
con.close()